@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Black.woff2") format("woff2"), url("../fonts/GolosText-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-ExtraBold.woff2") format("woff2"), url("../fonts/GolosText-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Bold.woff2") format("woff2"), url("../fonts/GolosText-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-SemiBold.woff2") format("woff2"), url("../fonts/GolosText-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Medium.woff2") format("woff2"), url("../fonts/GolosText-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Golos Text";
  src: url("../fonts/GolosText-Regular.woff2") format("woff2"), url("../fonts/GolosText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font: 400 14px "Golos Text", sans-serif;
  position: relative;
  background: #1e1f21;
  color: #fff;
}
body.hidden {
  overflow: hidden;
}
body.hidden-index:before {
  z-index: 100;
}
body.hidden::before {
  visibility: visible;
}
body:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: rgba(30, 31, 33, 0.75);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  z-index: 10;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .container {
    padding: 0 24px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}

.field {
  display: block;
  width: 100%;
  position: relative;
}
.field__search {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.field__close {
  position: absolute;
  right: 10px;
  top: 50%;
  align-items: center;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}
.field__close.length {
  display: flex;
}
.field input {
  border: 1px solid #3d3e3f;
  border-radius: 6px;
  background: none;
  width: 100%;
  font-size: 14px;
  color: #fff;
  padding: 0 10px;
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  padding-bottom: 30px;
}

.nav {
  width: 208px;
  background: #2e2e30;
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  min-height: 100vh;
  bottom: 0;
  overflow: auto;
  flex-shrink: 0;
}
@media only screen and (max-width: 991px) {
  .nav {
    display: none;
  }
  .nav.active {
    display: flex;
    z-index: 10;
    top: 48px;
    height: auto;
    min-height: auto;
    padding-top: 0;
  }
}
.nav.close {
  width: 64px;
  height: auto;
}
.nav.close .nav__list a span {
  display: none;
}
.nav.close .nav__footer {
  display: none;
}
.nav.close .nav__burger {
  display: none;
}
.nav__list li.active {
  background: #1e1f21;
}
.nav__list li.active a svg {
  fill: #fff;
}
.nav__list li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  padding-left: 20px;
}
@media only screen and (max-width: 991px) {
  .nav__list li a {
    height: 40px;
  }
}
.nav__list li a svg {
  width: 20px;
  height: 20px;
  fill: #aeb0b4;
}
.nav__list li a span {
  display: block;
  font-size: 14px;
  margin-left: 14px;
}
.nav__top {
  display: flex;
  align-items: center;
  padding-left: 24px;
  margin-bottom: 21px;
  justify-content: space-between;
  padding-right: 20px;
}
@media only screen and (max-width: 991px) {
  .nav__top {
    display: none;
  }
}
.nav__logo {
  display: flex;
  align-items: center;
  height: 32px;
  flex-shrink: 0;
}
.nav__burger {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav__footer {
  padding-left: 20px;
}
.nav__aside li a {
  color: #aeb0b4;
  font-size: 14px;
  min-height: 32px;
}
.nav__copy {
  font-size: 10px;
  color: #aeb0b4;
}

.main {
  margin: 0 auto;
  width: 100%;
  margin-left: 240px;
  margin-right: 40px;
  position: relative;
}
@media only screen and (max-width: 1300px) {
  .main {
    margin-left: 232px;
    margin-right: 24px;
  }
}
@media only screen and (max-width: 991px) {
  .main {
    margin: 0;
  }
}
.main.margin {
  margin: 0 48px 0 102px;
}
@media only screen and (max-width: 1300px) {
  .main.margin {
    margin: 0 24px 0 102px;
  }
}
@media only screen and (max-width: 991px) {
  .main.margin {
    margin: 0;
  }
}
.main.margin .showcase {
  margin-left: 65px;
}
@media only screen and (max-width: 991px) {
  .main.margin .showcase {
    margin-left: 0;
  }
}
.main.margin .cards {
  margin-left: 65px;
}
@media only screen and (max-width: 991px) {
  .main.margin .cards {
    margin-left: 0;
  }
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #1e1f21;
  z-index: 10;
  padding: 18px 44px 22px 0;
  margin-right: -40px;
  display: flex;
}
@media only screen and (max-width: 1300px) {
  .header {
    margin-right: -24px;
    padding-right: 24px;
  }
}
@media only screen and (max-width: 991px) {
  .header {
    background: #2e2e30;
    height: 48px;
    display: flex;
    align-items: center;
    z-index: 11;
    margin-right: 0;
    padding: 0;
    margin-bottom: 18px;
  }
}
.header__mobile--logo {
  align-items: center;
  margin-left: 30px;
  display: none;
}
@media only screen and (max-width: 991px) {
  .header__mobile--logo {
    display: flex;
  }
}
.header__mobile--burger {
  align-items: flex-start;
  display: none;
}
@media only screen and (max-width: 991px) {
  .header__mobile--burger {
    display: flex;
  }
}
.header__mobile--search {
  display: flex;
  align-items: center;
  margin-right: 27px;
  cursor: pointer;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__avatar {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.header__avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header__search {
  width: 360px;
  position: relative;
}
.header__search.active .search-dropdown {
  display: block;
}
.header__search .search-dropdown {
  display: none;
  position: absolute;
  top: 160%;
  border-radius: 6px;
  background: #3d3e3f;
  width: 100%;
  padding: 0 16px;
}
.header__search .search-dropdown__item {
  display: flex;
  align-items: center;
  height: 42px;
  cursor: pointer;
}
.header__search .search-dropdown__item span {
  display: block;
  margin-left: 9px;
}
@media only screen and (max-width: 991px) {
  .header__search {
    display: none;
  }
}
.header__search .field {
  height: 32px;
}
.header__search .field input {
  padding-left: 30px;
  transition: 300ms;
}
.header__search .field input:focus {
  border: 1px solid #aeb0b4;
  transition: 300ms;
}
.header__info {
  display: flex;
  align-items: center;
}
.header__burger {
  margin-right: 50px;
  align-items: flex-start;
  display: none;
  cursor: pointer;
}
.header__burger.active {
  display: flex;
}
@media only screen and (max-width: 991px) {
  .header__burger.active {
    display: none;
  }
}
.header__added {
  width: 40px;
  height: 32px;
  display: flex;
  align-items: center;
  background: #2e2e30;
  border-radius: 4px;
  margin-left: 24px;
  cursor: pointer;
  position: relative;
  transition: 300ms;
}
.header__added:hover {
  background: #3d3e3f;
}
@media only screen and (max-width: 991px) {
  .header__added {
    display: none;
  }
}
.header__added:before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  background: #fff;
}
.header__added::after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
.header__content {
  display: flex;
  align-items: center;
}
.header__login {
  margin-right: 16px;
  transition: 300ms;
  cursor: pointer;
}
.header__login:hover {
  color: #03adef;
}
@media only screen and (max-width: 767px) {
  .header__login {
    display: none;
  }
}
.header__registration {
  background: #d60b17;
  border-radius: 4px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
}
@media only screen and (max-width: 767px) {
  .header__registration {
    display: none;
  }
}
.header__registration:hover {
  background: #ff4747;
}
.header__mobile--login {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header__mobile--login {
    display: flex;
    align-items: flex-start;
  }
}

.showcase {
  margin-right: -40px;
}
@media only screen and (max-width: 1300px) {
  .showcase {
    margin-right: -24px;
  }
}
@media only screen and (max-width: 991px) {
  .showcase {
    margin-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .showcase__container {
    margin-right: -24px;
  }
}
@media only screen and (max-width: 767px) {
  .showcase__container {
    margin-right: -16px;
  }
}
.showcase__item {
  width: 610px;
}
@media only screen and (max-width: 767px) {
  .showcase__item {
    width: 94%;
  }
}

.cards {
  margin-top: 32px;
}
.cards__btn {
  width: 100%;
  margin-top: 30px;
  background: #2e2e30;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}
.cards__nav {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
@media only screen and (max-width: 767px) {
  .cards__nav {
    margin-right: -16px;
    overflow: auto;
    padding-right: 16px;
  }
  .cards__nav::-webkit-scrollbar {
    display: none;
  }
}
.cards__nav--link {
  padding: 8px 7px;
  background: #2e2e30;
  border-radius: 4px;
  margin-right: 16px;
  cursor: pointer;
}
.cards__nav--link.active {
  color: #3d3e3f;
  background: #fff;
}
.cards__nav--link:last-child {
  margin-right: 0;
}
.cards__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 24px;
}
@media only screen and (max-width: 1550px) {
  .cards__items {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1300px) {
  .cards__items {
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
  }
}
@media only screen and (max-width: 991px) {
  .cards__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .cards__items {
    grid-template-columns: 1fr;
  }
}

.card__img {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.card__top {
  position: relative;
  margin-bottom: 13px;
}
.card__time {
  position: absolute;
  right: 7px;
  bottom: 6px;
  font-size: 10px;
  background: rgba(30, 31, 33, 0.85);
  border-radius: 1px;
  padding: 1px 2px;
}
.card__info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 13px;
}
.card__name {
  overflow: hidden;
  overflow: hidden;
  display: block;
  max-height: 32px;
  -webkit-line-clamp: 2;
  display: box;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}
.card__dots {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 10px;
  cursor: pointer;
}
.card__dots.active svg {
  stroke: none;
  fill: #ff4747;
}
.card__dots svg {
  width: 16px;
  height: 17px;
  stroke: #aeb0b4;
  fill: none;
}
.card__autor {
  font-size: 10px;
  margin-bottom: 5px;
}
.card__aside {
  font-size: 10px;
  color: #aeb0b4;
  display: flex;
  align-items: center;
}
.card__aside b {
  margin: 0 5px;
}

.login,
.registr {
  position: fixed;
  z-index: 100;
  background: #1e1f21;
  width: 396px;
  right: 0;
  top: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  display: none;
}
@media only screen and (max-width: 767px) {
  .login,
.registr {
    width: 100%;
    padding: 0 16px;
  }
}
.login.active,
.registr.active {
  display: flex;
}
.login__close,
.registr__close {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 31px;
  right: 23px;
  cursor: pointer;
}
.login__title,
.registr__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.login__text,
.registr__text {
  font-size: 14px;
  margin-bottom: 32px;
}
.login__text a,
.registr__text a {
  color: rgb(3, 173, 239);
}
.login form .field,
.registr form .field {
  margin-bottom: 20px;
}
.login form .field input,
.registr form .field input {
  background: #2e2e30;
  border-radius: 4px;
  border: none;
  height: 48px;
  padding-left: 12px;
  padding-top: 12px;
}
.login form .field input:focus ~ .field__label,
.login form .field input:not(:focus):valid ~ .field__label,
.registr form .field input:focus ~ .field__label,
.registr form .field input:not(:focus):valid ~ .field__label {
  top: 8px;
  font-size: 12px;
  opacity: 1;
  transition: 300ms;
  color: #aeb0b4;
}
.login form .field input:focus ~ .field__label ~ .login__password,
.login form .field input:not(:focus):valid ~ .field__label ~ .login__password,
.registr form .field input:focus ~ .field__label ~ .login__password,
.registr form .field input:not(:focus):valid ~ .field__label ~ .login__password {
  display: block;
}
.login form .field__label,
.registr form .field__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  transition: 300ms;
  left: 12px;
}
.login form .field__password,
.registr form .field__password {
  position: absolute;
  right: 10px;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.login__password,
.registr__password {
  color: #03adef;
  margin-bottom: 20px;
  display: block;
}
.login__btn,
.registr__btn {
  border: none;
  background: #d60b17;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  transition: 300ms;
}
.login__btn:hover,
.registr__btn:hover {
  background: #ff4747;
}
.login__aside,
.registr__aside {
  margin-top: 16px;
  margin-bottom: 32px;
}
.login__aside span,
.registr__aside span {
  text-align: center;
  display: block;
  color: #636870;
  margin-bottom: 12px;
}
.login__social,
.registr__social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__social li,
.registr__social li {
  margin-right: 25px;
}
.login__social li:last-child,
.registr__social li:last-child {
  margin-right: 0;
}
.login__social li a,
.registr__social li a {
  display: flex;
  align-items: center;
  width: 40px;
  height: 32px;
  background-color: #2e2e30;
  border-radius: 4px;
  justify-content: center;
}
.login__polytical,
.registr__polytical {
  color: #aeb0b4;
}

.wrapper-video {
  display: block;
}

.nav-video {
  display: none;
}
.nav-video.active {
  display: flex;
  z-index: 100;
  top: 72px;
  min-height: auto;
  height: auto;
}

.header-video {
  padding: 0 44px 0 0;
  height: 72px;
  display: flex;
  align-items: center;
  margin-right: 0;
}
@media only screen and (max-width: 1550px) {
  .header-video {
    padding-right: 24px;
  }
}
@media only screen and (max-width: 991px) {
  .header-video {
    padding: 0;
    margin-bottom: 24px;
    height: 48px;
  }
}
.header-video__aside {
  display: flex;
  align-items: center;
  width: 208px;
  background: #2e2e30;
  justify-content: space-between;
  height: 72px;
  padding: 0 24px;
  margin-right: 24px;
}
@media only screen and (max-width: 991px) {
  .header-video__aside {
    display: none;
  }
}
.header-video__logo {
  display: flex;
  align-items: center;
}
.header-video__burger {
  display: block;
  width: 19px;
}
.header-video__burger a {
  display: block;
  cursor: pointer;
  padding: 6px 0;
}
.header-video__burger a span {
  position: relative;
  display: block;
  width: 19px;
  height: 1px;
  background: #aeb0b4;
  transition: all 0.2s ease-in-out;
}
.header-video__burger a span:before, .header-video__burger a span:after {
  content: "";
  width: 19px;
  height: 1px;
  position: absolute;
  left: 0;
  background: #aeb0b4;
  transition: all 0.2s ease-in-out;
}
.header-video__burger a span:before {
  top: -6px;
}
.header-video__burger a span:after {
  top: 6px;
}
.header-video__burger a.active span {
  background: transparent;
}
.header-video__burger a.active span:before {
  transform: rotate(45deg) translate(5px, 6px);
}
.header-video__burger a.active span:after {
  transform: rotate(-45deg) translate(5px, -6px);
}

.page-video {
  display: grid;
  grid-template-columns: 1.4fr 0.5fr;
  grid-gap: 25px;
  padding-left: 28px;
  padding-right: 48px;
  margin-top: 10px;
}
@media only screen and (max-width: 1550px) {
  .page-video {
    grid-template-columns: 1.7fr 0.6fr;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media only screen and (max-width: 1300px) {
  .page-video {
    grid-template-columns: 1fr 0.5fr;
  }
}
@media only screen and (max-width: 991px) {
  .page-video {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}
@media only screen and (max-width: 767px) {
  .page-video {
    padding: 0 16px;
  }
}

.cards-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  grid-row: span 5;
}
@media only screen and (max-width: 1550px) {
  .cards-info .card {
    display: grid;
    grid-template-columns: 156px 1fr;
    grid-gap: 12px;
  }
}
@media only screen and (max-width: 1300px) {
  .cards-info .card {
    grid-template-columns: 120px 1fr;
  }
}
@media only screen and (max-width: 991px) {
  .cards-info .card {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
@media only screen and (max-width: 1550px) {
  .cards-info {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1300px) {
  .cards-info {
    order: 1;
  }
}
@media only screen and (max-width: 991px) {
  .cards-info {
    grid-row: span 1;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 767px) {
  .cards-info {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 1300px) {
  .video {
    grid-column: span 2;
    margin: 0 -24px;
  }
}
@media only screen and (max-width: 991px) {
  .video {
    grid-column: span 1;
  }
}
@media only screen and (max-width: 767px) {
  .video {
    margin: 0 -16px;
  }
}
.video.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  z-index: 13;
}
.video.sticky .video__content {
  display: none;
}
.video__img {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
  width: 100%;
}
.video__img img {
  width: 100%;
  height: 100%;
}
.video__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .video__top {
    align-items: flex-start;
  }
}
.video__aside {
  margin-right: 20px;
}
@media only screen and (max-width: 1300px) {
  .video__content {
    padding: 0 24px;
  }
}
.video__info {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .video__info {
    padding-top: 10px;
  }
}
.video__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}
.video__date {
  font-size: 14px;
  color: #5b5b5b;
}
.video__later {
  display: flex;
  align-items: center;
  margin-right: 28px;
  cursor: pointer;
  transition: 300ms;
}
.video__later.active svg {
  fill: #ff4747;
  stroke: none;
}
.video__later.active:hover svg {
  fill: #ff4747;
  stroke: none;
}
.video__later:hover svg {
  stroke: #03adef;
}
.video__later svg {
  width: 17px;
  height: 17px;
  stroke: #aeb0b4;
  fill: none;
  margin-right: 12px;
}
@media only screen and (max-width: 991px) {
  .video__later svg {
    margin-right: 0;
  }
}
@media only screen and (max-width: 991px) {
  .video__later span {
    display: none;
  }
}
.video__repost {
  display: flex;
  align-items: center;
  transition: 300ms;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .video__repost span {
    display: none;
  }
}
.video__repost-wrapper {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .video__repost-wrapper:before {
    position: fixed;
    right: 0;
    left: 0;
    content: "";
    display: block;
    width: 100vh;
    height: 100vh;
    top: 0;
    background: rgba(30, 31, 33, 0.75);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    z-index: 16;
    visibility: hidden;
  }
  .video__repost-wrapper.active::before {
    visibility: visible;
  }
}
.video__repost-dropdown {
  position: absolute;
  right: 0;
  background: #3d3e3f;
  border-radius: 6px;
  top: 140%;
  width: 320px;
  padding: 26px 24px;
  display: none;
}
@media only screen and (max-width: 991px) {
  .video__repost-dropdown {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 17;
    top: auto;
    border-radius: 6px 6px 0 0;
  }
}
.video__repost-dropdown.active {
  display: block;
}
.video__repost-dropdown ul li {
  margin-bottom: 24px;
}
.video__repost-dropdown ul li.before {
  position: relative;
}
.video__repost-dropdown ul li.before:before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  width: 100%;
  left: 0;
  height: 1px;
  background: #636870;
}
.video__repost-dropdown ul li:last-child {
  margin-bottom: 0;
}
.video__repost-dropdown ul li a {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
}
.video__repost:hover {
  color: #03adef;
}
.video__repost:hover svg {
  fill: #03adef;
}
.video__repost svg {
  width: 17px;
  height: 17px;
  fill: #aeb0b4;
  margin-right: 12px;
}
@media only screen and (max-width: 991px) {
  .video__repost svg {
    margin-right: 0;
  }
}
.video__dots {
  display: flex;
  margin-left: 29px;
  cursor: pointer;
  transition: 300ms;
}
@media only screen and (max-width: 991px) {
  .video__dots {
    margin-left: 15px;
  }
}
.video__dots-wrapper {
  position: relative;
}
@media only screen and (max-width: 991px) {
  .video__dots-wrapper:before {
    position: fixed;
    right: 0;
    left: 0;
    content: "";
    display: block;
    width: 100vh;
    height: 100vh;
    top: 0;
    background: rgba(30, 31, 33, 0.75);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    z-index: 16;
    visibility: hidden;
  }
  .video__dots-wrapper.active::before {
    visibility: visible;
  }
}
.video__dots-dropdown {
  position: absolute;
  right: 0;
  background: #3d3e3f;
  border-radius: 6px;
  top: 120%;
  width: 320px;
  padding: 26px 24px;
  display: none;
  z-index: 10;
}
@media only screen and (max-width: 991px) {
  .video__dots-dropdown {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 17;
    top: auto;
    border-radius: 6px 6px 0 0;
  }
}
.video__dots-dropdown.active {
  display: block;
}
.video__dots-dropdown ul li {
  margin-bottom: 24px;
}
.video__dots-dropdown ul li.before {
  position: relative;
}
.video__dots-dropdown ul li.before:before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  width: 100%;
  left: 0;
  height: 1px;
  background: #636870;
}
.video__dots-dropdown ul li:last-child {
  margin-bottom: 0;
}
.video__dots-dropdown ul li a {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: center;
}
.video__dots:hover {
  color: #03adef;
  background: #2e2e30;
  border-radius: 6px;
}
.video__dots:hover svg {
  stroke: #03adef;
}
.video__dots svg {
  width: 34px;
  height: 34px;
  stroke-width: 3px;
  stroke: #aeb0b4;
  stroke-linejoin: round;
}
@media only screen and (max-width: 991px) {
  .video__dots svg {
    width: 24px;
    height: 24px;
  }
}
.video__foot {
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.video__like, .video__dislike {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 300ms;
}
.video__like.active svg, .video__dislike.active svg {
  fill: #d9d9d9;
  stroke: none;
}
.video__like svg, .video__dislike svg {
  width: 17px;
  height: 17px;
  fill: none;
  stroke: #aeb0b4;
}
.video__like span, .video__dislike span {
  display: block;
  font-size: 10px;
  color: #aeb0b4;
  margin-left: 10px;
}
.video__dislike {
  margin-left: 28px;
}
.video__dislike svg {
  transform: rotate(180deg);
}

.comments {
  grid-row: span 10;
}
@media only screen and (max-width: 991px) {
  .comments {
    grid-row: span 1;
  }
}
.comments__head {
  background: #2e2e30;
  padding: 24px;
}
.comments__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comments__top--info {
  display: flex;
  align-items: center;
}
.comments__top--logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 12px;
  flex-shrink: 0;
}
.comments__top--logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.comments__top--name p {
  font-size: 16px;
  margin-bottom: 3px;
}
.comments__top--name span {
  display: block;
  font-size: 12px;
  color: #636870;
}
.comments__btn {
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 32px;
  color: #3d3e3f;
  transition: 300ms;
}
.comments__btn:hover {
  background: #ced2d7;
}
.comments__description {
  margin-top: 20px;
}
.comments__more {
  margin-top: 10px;
  font-size: 12px;
  color: #aeb0b4;
}
.comments__head {
  margin-bottom: 32px;
}
@media only screen and (max-width: 991px) {
  .comments__container {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .comments__mobile.active {
    position: fixed;
    z-index: 11;
    bottom: 0;
    left: 0;
    background: #1e1f21;
    width: 100%;
    padding: 20px 16px;
  }
  .comments__mobile.active .comments__container {
    display: block;
    overflow: auto;
    height: calc(100% - 70px);
    margin-top: 20px;
  }
}
.comments__title {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .comments__title {
    padding-bottom: 20px;
    border-bottom: 1px solid #636870;
    margin-bottom: 0;
  }
}
.comments__title span {
  color: rgb(99, 104, 112);
}
.comments__icon {
  display: none;
}
@media only screen and (max-width: 991px) {
  .comments__icon {
    display: flex;
    align-items: flex-start;
  }
}
.comments__login {
  margin-bottom: 40px;
}
.comments__login a {
  color: rgb(3, 173, 239);
}
.comments__item .comments__item {
  padding-left: 45px;
}
.comments__wrapper {
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}
.comments__logo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 14px;
}
.comments__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}
.comments__content {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.comments__name {
  font-weight: 600;
  margin-right: 8px;
}
.comments__date {
  color: #636870;
}
.comments__info {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 24px;
}
.comments__info .video__foot {
  margin-top: 0;
  margin-right: 10px;
}
.comments__info .video__dislike {
  margin-left: 10px;
}
.comments__link {
  font-size: 12px;
  color: #03adef;
  margin-left: 16px;
}
.comments__aside {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.comments__aside span {
  color: #03adef;
  line-height: 1;
  margin-left: 7px;
  display: block;
}

.modal-search {
  position: fixed;
  top: 48px;
  background: #1e1f21;
  width: 100%;
  height: 100vh;
  z-index: 100;
  padding: 24px;
  display: none;
}
.modal-search__info {
  display: flex;
  align-items: center;
  width: 100%;
}
.modal-search__close {
  margin-left: 15px;
}
@media only screen and (max-width: 991px) {
  .modal-search.active {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .modal-search {
    padding: 20px 16px;
  }
}
.modal-search .header__search {
  display: flex;
  width: 100%;
}
.modal-search .search-dropdown {
  background: none;
  padding: 0;
}